*{
    font-family: "Montserrat";
}
nav {
    color: #120b0b;
    /* Change to your desired text color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow items to wrap to the next line on small screens */
}

.nav-container {
    background-color: #fbf7f7;
    /* Change to your desired background color */
    padding: 10px;
}

.nav-container {
    background-color: #fbf7f7;
    /* Change to your desired background color */
    padding: 10px;
}



.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 5px;
    /* Reduce the margin between the logo and text */
}

#everyArt {
    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: 22px;
}

.search-container {
    display: flex;
    align-items: stretch;
    margin-left: 10px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 0px 0px 0px -337px;
}

.search-container img {
    width: 30px;
    /* Adjust the width of the search logo as needed */
    height: 30px;
    /* Adjust the height of the search logo as needed */
    margin-right: 5px;
    /* Reduce the margin between the search logo and input */
}

.search-input {
    width: 277px;
    padding: 4px;
    border: none;
    border-bottom: 1px solid black;
    /* Add a bottom line */
}
.userlog-container{

    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    
}

.user-img {
    width: 40px;
    /* Adjust the width as needed */
    height: 40px;
    /* Adjust the height as needed */
    margin-right: 10px;
    /* Add margin for spacing */
}

a {
    color: #161414;
    /* Change to your desired link text color */
    text-decoration: none;
}

#everyArt {

    font-size: 16px;
    font-family: "Montserrat";
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    width: 77px;
    height: 22px;

}

.signUp {
    width: 105px;
    height: 29px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #000000;
    border-radius: 100px;
    overflow: hidden;
    border: 1px #707070 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
  
}


.logIn {
    width: 105px;
    height: 29px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    background: #FAFAFA;
    border-radius: 100px;
    overflow: hidden;
    border: 1px #707070 solid;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}





.container {
    text-align: center; /* Center align the text within the container */
}

.menu {
    display: inline-block; /* Make the menu items display in a horizontal line */
}

.navWords {
    display: inline; /* Display the navigation words inline */
    margin: 0 10px; /* Add space on both sides of the navigation words */
    font-family: "Montserrat";
}

.line {
    display: inline; /* Display the pipe separator inline */
    font-size: 20px;
}


#communityArt{
   
        font-size: 24px;
        font-family: "Montserrat";
        font-weight: 500;
        color: rgba(17, 17, 17, 1);
        width: 192px;
        height: 40px;
}

div{
    border: 1px solid #000000;
}


.carousel {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.carousel img {
    
    height: 100%;
    position: absolute;
    right: 0;
}


.paragraph {
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background: rgba(255, 255, 255, 0.299);
    
    align-content: flex-end;
}

  
.paragraph h3{
    font-size: 30px;
font-family: "Montserrat";
font-weight: 600;
color: rgba(17, 17, 17, 1);
width: 398px;
height: 46.09px;
}

.paragraph p{
    font-size: 16px;
font-family: "Montserrat";
font-weight: 500;
color: rgba(17, 17, 17, 1);
width: 378px;
height: 116px;
}

/* Style for the artist card container */
.local_Art {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    overflow-x: auto; /* Add horizontal scroll */
    white-space: nowrap; /* Prevent cards from wrapping to the next line */
    width: 100%; /* Ensure the container takes up the available width */
    box-sizing: border-box; /* Ensure padding is included in the width */
    -webkit-overflow-scrolling: touch; /* Optional: smooth scrolling for iOS */
}

/* Style for each artist card */
.artists {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    padding: 20px;
    width: 250px;
    text-align: center;
    margin-right: 20px;
    display: inline-block; /* Display the cards in a horizontal row */
}

/* Remove margin-right from the last card to avoid unnecessary spacing */
.artists:last-child {
    margin-right: 0;
}
  
  /* Style for the artist image */
  .artimg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px auto;
    display: block;
  }
  
  /* Style for the artist name */
  .artistName {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  /* Style for the label buttons */
  .label {
    background-color: #fafdff;
    color: #707070;
    border: 1px solid #707070;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 5px;
    font-size: 14px;
    cursor: pointer;
  }

  
  /* Style for social media icons */
  .socialMedia {
    font-size: 24px;
    margin: 10px 0;
  }
  
  .fa-brands {
    margin: 0 5px;
  }
  


nav li {
    line-height: 28.80px; word-wrap: break-word;
}
  .artWork {

        display: flex;
        height: 50%;
        
        width: 100%;
    }

.default{
    width:50%;

    }

.default img{
    width:100%;
}


.fours{
    width:50%;
    display: flex;
}


.fourPic{
    display: flex;
}

.fourPic{
    width: 81%;
    margin: 4px 2px 0px 7px;
}

.inside {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#navbarDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Updated background color for the navbar */
    color: #fff; /* Updated text color for the navbar */
    padding: 10px; /* Add some padding for spacing */
}

.navbar {
    list-style: none; /* Remove the default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex; /* Display list items horizontally */
}

.navbar li {
    margin-right: 20px;
    color: #B7B7B7;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 28.80px;
    cursor: pointer; /* Add a pointer cursor to indicate interactivity */
}

.seeAll {
    /* Move the "See All" element to the right end */
    margin-left: auto;
    color: #000000;
}
.hamburger {
    display: none; /* Initially hidden on larger screens */
    cursor: pointer;
  }
  
  /* Hamburger bars */
  .bar {
    width: 30px;
    height: 3px;
    background-color: #161414;
    margin: 4px 0;
  }
  
  /* Responsive navigation menu */
  @media (max-width: 768px) {
    .hamburger {
      display: block; /* Display the hamburger icon on smaller screens */
    }
  
    /* Hide the regular navigation menu on smaller screens */
    .menu {
      display: none;
    }
  
    /* Show the navigation menu when the hamburger is clicked */
    .menu.active {
      display: block;
    }
  }

@media (max-width: 768px) {
    .nav-container {
      padding: 5px;
    }
    
    .nav-container img {
      width: 30px;
      height: 30px;
    }
    
    #everyArt {
      font-size: 14px;
      width: auto;
    }
    
    .search-container {
      margin: 0;
    }
    
    .search-container img {
      width: 20px;
      height: 20px;
    }
    
    .search-input {
      width: 80%;
    }
    
    .signUp,
    .logIn {
      width: 80px;
      height: 24px;
      font-size: 14px;
    }
  }